<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.bluebird.permission.SAM_DEVICE_ACCESS" />

    <application
        android:name="org.calypsonet.keyple.demo.validation.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.calypsonet.keyple.demo.validation.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="fullUser"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="com.parkeon.app.customer"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.calypsonet.keyple.demo.validation.ui.ReaderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calypsonet.keyple.demo.validation.ui.CardSummaryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"/>
        <activity
            android:name="org.calypsonet.keyple.demo.validation.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"/>
        <activity
            android:name="org.calypsonet.keyple.demo.validation.ui.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"/>
        <activity
            android:name="org.calypsonet.keyple.demo.validation.ui.deviceselection.DeviceSelectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"/>
    </application>
</manifest>
